*.filters
/.vs
*.vcxproj
/CMakeFiles
/CMakeCache.txt
*.sln
*.user
!*DotSettings.user
*/CMakeFiles/*
ProjectFiles/*
ImportedFiles/*
Debug/*
Release/*
*cmake_install.cmake
asset_preprocessor/asset_preprocessor.dir/*
engine/engine.dir/*
test_env/test_env.dir/*
x64/*
[B|b]uild/*