[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
